{% load static %}

<!---
<footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join our mailing list to receive the news &amp; latest trends</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="email" name="email" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Waiyaki Way, Nairobi, Kenya</p>
            <p><a href="tel:+254727289745">0727 289 745</a></p>
            <p><a href="mailto:info@sautiyetu.co.ke">info@sautiyetu.co.ke</a></p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about_us' %}">About Us</a></li>
              <li><a href="{% url 'technology' %}">Technology</a></li>
              <li><a href="{% url 'products' %}">Our Products</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Our Products</h4>
            <ul>
              <li><a href="{% url 'products' %}">Sightra Smart Cane</a></li>
              <li><a href="{% url 'products' %}">Theravoo Speech AI</a></li>
              <li><a href="{% url 'technology' %}">IoT Ecosystem</a></li>
              <li><a href="{% url 'technology' %}">AI Research</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Sauti Yetu</h4>
            <div class="logo">
              <img src="{% static 'images/WhatsApp_Image_2025-08-25_at_9.48.06_AM-removebg-preview.png' %}" alt="Sauti Yetu Logo" style="max-width: 150px;">
            </div>
            <p>Empowering vision and speech through sound, technology, and co-creation. Giving every journey a voice.</p>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2026 Sauti Yetu. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
</footer> -->



  <footer id="newsletter"
          class="text-center text-dark"
          style="background-color: #ECEFF1"
          >
    
    <section
             class="d-flex justify-content-between p-4 text-white"
             style="width:100%;background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%)"
             >
      
      <div class="me-5">
        <span style="font-size: 1.25rem;">Get connected with us on social networks:</span>
      </div>
      

      <div>
        <a href="" class="text-white me-4" style="font-size: 1.5rem;">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4" style="font-size: 1.5rem;">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4" style="font-size: 1.5rem;">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4" style="font-size: 1.5rem;">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4" style="font-size: 1.5rem;">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4" style="font-size: 1.5rem;">
          <i class="fab fa-github"></i>
        </a>
      </div>
      
    </section>
    


    <section class="">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
          
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold" style="font-size: 1.75rem;">Sauti Yetu</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p style="font-size: 1.1rem; color: #333;">
              Our systems combine human centered design with artificial intelligence to 
              provide real-time guidance for people with visual or speech impairments.
            </p>
          </div>
          

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold" style="font-size: 1.75rem;">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p style="font-size: 1.1rem;">
              <a href="#!" class="text-dark">Sightra</a>
            </p>
            <p style="font-size: 1.1rem;">
              <a href="#!" class="text-dark">Theravoo</a>
            </p>
            
          </div>
          

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold" style="font-size: 1.75rem;">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p style="font-size: 1.3rem;">
              <a href="#!" class="text-dark">Contact Us</a>
            </p>
            <p style="font-size: 1.3rem;">
              <a href="#!" class="text-dark">Become an Affiliate</a>
            </p>
            <p style="font-size: 1.3rem;">
              <a href="#!" class="text-dark">Beta Tester</a>
            </p>
            <p style="font-size: 1.3rem;">
              <a href="#!" class="text-dark">Volunteer</a>
            </p>
          </div>
          

          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
           
            <h6 class="text-uppercase fw-bold" style="font-size: 1.75rem;">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p style="font-size: 1.1rem; color: #333;"><i class="fas fa-home mr-3" style="font-size: 1.7rem;"></i> Waiyaki Way, Nairobi - Kenya 00100, KE</p>
            <p style="font-size: 1.1rem; color: #333;"><i class="fas fa-envelope mr-3" style="font-size: 1.7rem;"></i> info@sautiyetu.com</p>
            <p style="font-size: 1.1rem; color: #333;"><i class="fas fa-phone mr-3" style="font-size: 1.7rem;"></i> +254 725 015 872 / +254 741 428 123 /  </br> +254 743 158 232</p>
            <!-- <p style="font-size: 1.1rem;"><i class="fas fa-phone mr-3" style="font-size: 1.7rem;"></i> </p>
            <p style="font-size: 1.1rem;"><i class="fas fa-phone mr-3" style="font-size: 1.7rem;"></i> </p> -->
          </div>
          
        </div>
        
      </div>
    </section>
    

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2); font-size: 1.1rem;"
         >
      © {% now "Y" %} Copyright:
      <a class="text-dark" href="https://wwww.sautiyetu.com/"
         >sautiyetu.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
