

{% load static %}



<!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">

            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{% static 'images/WhatsApp_Image_2025-08-25_at_9.48.06_AM-removebg-preview.png' %}" alt="Sauti yetu Logo" style="height: 120px; padding-top: -18px">
            </a>
            <!-- ***** Logo End ***** -->

            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
              <!-- <li class="scroll-to-section"><a href="#services">Services</a></li> -->
              <li class="scroll-to-section"><a href="/projects">Projects</a></li>
              <li class="scroll-to-section"><a href="/technology">Technology</a></li>
              <li class="scroll-to-section"><a href="/contact">Contact</a></li>
              <li><div class="gradient-button"><a id="modal_trigger" href=""><i class="fa fa-sign-in-alt"></i> Get Involved</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->